@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  @apply min-h-screen bg-white dark:bg-black flex flex-col items-center py-[50px]
}

.hover {
  @apply hover:bg-gray-100 p-2 rounded-full dark:hover:bg-dark-container
}

.active-link {
  @apply text-primary bg-gray-100 p-2 rounded-full dark:bg-dark-container
}

.nav-link {
  @apply flex flex-col gap-1 justify-center items-center dark:text-white hover hover:text-primary
}

.input {
  @apply w-full bg-gray-200 ps-5 pr-14 py-2 sm:py-3 rounded-full sm:rounded-2xl focus:outline-none dark:bg-dark-container dark:text-white
}

.auth-button {
  @apply font-medium text-sm text-black bg-gray-200 dark:text-white dark:bg-dark-container py-1 px-2 sm:py-2 sm:px-3 rounded-full
}

.button {
  @apply text-center font-bold text-lg px-4 py-2 mt-4 bg-black dark:bg-white text-white dark:text-black rounded-full hover:text-white hover:bg-primary w-fit duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed;
}

.bg-image {
  background-image: url("/assets/hero.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.tag {
  @apply text-black dark:text-white hover:text-white hover:bg-primary duration-300 py-1 px-4 rounded-full border-2 border-gray-100 dark:border-dark-container;
}

.cart-button {
  @apply w-full font-medium mt-5 py-2 px-3 rounded-full hover:bg-primary hover:text-white duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed
}

.wishlist-button {
  @apply cursor-pointer hover:text-red-600 duration-300 disabled:cursor-not-allowed
}